:root {
    --color-white: hsl(0,0%,100%);
    --color-light-gray: hsl(0,0%,95%);

    --aside-width: 300px;
    --middle-section-width: 500px;
    --section-gap: 20px;

    --first-mobile-breakpoint: calc(2 * var(--aside-width) + var(--middle-section-width));
    --second-mobile-breakpoint: calc(var(--aside-width) + var(--middle-section-width));
}

body {
    margin: 0;
}
