:root {
    --color-gray-100: hsl(0,0%,100%);
    --color-gray-90: hsl(0,0%,90%);
    --color-gray-80: hsl(0,0%,80%);
    --color-gray-70: hsl(0,0%,70%);
    --color-gray-60: hsl(0,0%,60%);
    --color-gray-50: hsl(0,0%,50%);
    --color-gray-40: hsl(0,0%,40%);
    --color-gray-30: hsl(0,0%,30%);
    --color-gray-20: hsl(0,0%,20%);
    --color-gray-10: hsl(0,0%,10%);
    --color-gray-0: hsl(0,0%,0%);

    --small-grid-column-width: 300px;
    --medium-grid-column-width: 500px;
    --large-grid-column-width: 820px;
    --grid-gap: 20px;

    --background-image-height: 75px;
    --medium-profile-image-size: 100px;
    --small-profile-image-size: 70px;
}

body {
    background: var(--color-gray-90);
    min-height: 100vh;
    margin: 0;
    font-family: 'Open sans';
}

a { 
    text-decoration: none;
    color: inherit;
}

.text-gray {
    color: var(--color-gray-60);
}

.text-dark {
    color: var(--color-gray-20);
}

.text-bold {
    font-weight: bold;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.page {
    padding-block: var(--grid-gap);
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-gap: 20px;
}

.grid > div {
    background: var(--color-gray-100);
    border-radius: 10px;
}

/* -------------- */
/* --- Grid 1 --- */
/* -------------- */

/* Large screen */
@media screen and (min-width: 1181px) {
    .grid-1 {
        grid-template-columns: var(--small-grid-column-width) var(--medium-grid-column-width) var(--small-grid-column-width);
    }

    .grid-1 > div:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .grid-1 > div:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .grid-1 > div:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}

/* Medium screen */
@media screen and (max-width: 1180px) {
    .grid-1 {
        grid-template-columns: var(--small-grid-column-width) var(--medium-grid-column-width);
    }

    .grid-1 > div:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .grid-1 > div:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    .grid-1 > div:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

/* Small screen */
@media screen and (max-width: 860px) {
    .grid-1 {
        grid-template-columns: var(--medium-grid-column-width);
    }

    .grid-1 > div:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .grid-1 > div:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .grid-1 > div:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

/* -------------- */
/* --- Grid 2 --- */
/* -------------- */

/* Large screen */
@media screen and (min-width: 1181px) {
    .grid-2 {
        grid-template-columns: var(--large-grid-column-width) var(--small-grid-column-width);
    }

    .grid-2 > div:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .grid-2 > div:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

/* Medium screen */
@media screen and (max-width: 1180px) {
    .grid-2 {
        grid-template-columns: var(--medium-grid-column-width) var(--small-grid-column-width);
    }

    .grid-2 > div:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .grid-2 > div:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

/* Small screen */
@media screen and (max-width: 860px) {
    .grid-2 {
        grid-template-columns: var(--medium-grid-column-width);
    }

    .grid-2 > div:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .grid-2 > div:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}
